<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KaizenAssignment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>622C4BF228CCB34600D39601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>622C4C0828CCB34800D39601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>622C4C1228CCB34800D39601</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
